@{
    ViewData["Title"] = "Home";
}

<div class="area-home">
    <h1>Vá até a <a asp-controller="Loja" asp-action="Index" class="loja-link">loja</a>
 para comprar produtos.</h1>
    <img src="~/img/imgHome.png" width="30%" alt="">
</div>
